#front-page-container {
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.linkButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
/* 
@media (max-width: 850px) {
  .linkButtons {
    flex-direction: column;
  }
} */

.theLink {
  background-color: #437a97;
  margin: 10px;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2px solid #4c97c0;
  width: 180px;
}

.theLink:hover,
.theLink:focus {
  background-color: #65a6c9;
}

.theLink:active {
  background-color: #7cb1ce;

  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset,
    5px 0 5px -3px rgba(0, 0, 0, 0.2) inset;
}

.TopNavLinkButtons {
  margin-top: 30px;
  margin-left: auto;
  margin-bottom: -20px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#greeting {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  font-weight: 900;
  font-size: 50px;
  text-align: center;

  padding: 40px 200px 40px 200px;
  margin: 100px auto 100px auto;
  border: 5px solid black;
  max-width: 1000px;
}
